@media screen and (max-width: 985px) {
    .responsive-space{

    }

    .rows-service{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    .service-text{
        font-size: 13px;
        font-weight: bold;
    }


    .img-rows{
        width: 50%;
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width:620px){
    .responsive-space{
        display: flex;
        flex-direction: column;
    }

    .rows-service{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .service-text{
        font-size: 13px;
        font-weight: bold;
    }


    .img-rows{
        width: 50%;
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }
}


@media screen and (max-width:350px){
    .responsive-space{
        display: flex;
        flex-direction: column;
    }

    .rows-service{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    .service-text{
        font-size: 11px;
        font-weight: bold;
    }


    .img-rows{
        width: 70%;
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }
}



@media screen and (max-width:496px) {
    .img-rows{
        width: 60%;
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }
}

.img-rows{
    margin: 0 auto;
    align-items: center;
    text-align: center;
}