.epertise-bg{
    /*-webkit-clip-path: polygon(0 34%, 100% 21%, 100% 87%, 0% 100%);
    clip-path: polygon(0 34%, 100% 21%, 100% 87%, 0% 100%);*/  
    /* clip-path: polygon(0 7%, 100% 0%, 100% 93%, 0% 100%);  */
    clip-path: polygon(0 16%, 100% 0%, 100% 83%, 0% 100%);
    /* clip-path: polygon(0 13%, 100% 0%, 100% 91%, 0% 100%); */
    background-color: #171135;
  }
  
  /* .text-stroke{
      -webkit-text-fill-color: transparent;
      font-family: sans-serif;
  }
  .logo{
    -webkit-text-stroke: 1px #171135;
      font-size: 2rem;
      font-weight: 700;
  } */
  .expertise-title{
    font-size: 2.2rem;
    -webkit-text-stroke: 0.5px #f2f2f2;
    font-family: Arial, Helvetica, sans-serif !important;
    stroke-linecap: round;
    -webkit-text-fill-color: transparent;
  }
  
.expertise{
    background: radial-gradient(circle, rgb(11, 10, 58) 0%, rgb(2, 0, 36) 100%);
  }
  .expertise-sub-title{
    font-size: 2rem;
    line-height: 120%;
    font-weight: bold;
    background: linear-gradient(to right, #25DEEA, #37BB8A);
    background-clip: text;
    letter-spacing: 1px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .cart-title{
    font-size: 1rem;
    line-height: 120%;
    font-weight: bold;
    background: linear-gradient(to right, #C525EA 50%, #37BB8A 100%);
    background-clip: text;
    letter-spacing: 1px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .cart{
    box-shadow: #0A0E26 0px 7px 29px 0px;
  }
  .view-more{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .view-more:hover{
    cursor: pointer;
  }
  
  .btn-more{
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 40px;
  }
  .show{
    opacity: 1;
  }
  .hidden{
    opacity: 0;
  }
