@keyframes leftToRight {
      from {
        left: 5%;
        opacity: 0;
        transform: scaleX(1);
      }
      to{
        left:80%;
        opacity: 1;
        transform: scaleX(1.2);
      }
}

.animate {
     animation: leftToRight 1.5s linear infinite ;
}