@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Exo2';
    src: url('../fonts/Exo2-VariableFont_wght.ttf');
}
@layer components{
    .h1{
        @apply font-Exo2 text-[4rem] uppercase
    }
    .h2{
        @apply font-Exo2 text-[2.5rem]  uppercase font-bold
    }
    .h3{
        @apply font-Exo2 text-[24px] uppercase
    }  
}
body{
  font-family: 'Exo2';
  scroll-behavior: smooth;
}

@keyframes linear {
     0% {
         left: 5%;
     }
     100%{
          left: 85%;
     }

}

@media screen and (max-width: 795px) {
   .btn{
    width: 100%;
   }
}
@media screen and (max-width: 483px) {
  .footer-title{
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }
  .footer-logo{
    margin-left: 4rem;
  }
}
@media screen and (max-width: 441px){
  .project-cart{
    width: 330px;
    height: 356px;
  }
}
@media screen and (max-width: 369px) {
  .project-cart{
    width: 300px;
    height: 356px;
  }
  .card-bottom{
    height: 54px;
  }
}
@media screen and (max-width: 345px) {
  .project-cart{
    width: 260px;
    height: 356px;
  }
  .card-bottom{
    height: 54px;
  }
}

/* p, a {
  font-size: 16px;
} */
.space-section{
 padding: 4% 10%;
}
.copyRight{
  font-size: 20px;
}

@media screen and (max-width: 345px) {
  
}