@media screen and (max-width: 795px) {
    .btn{
     width: 100%;
    }
 }
 @media screen and (max-width: 483px) {
   .footer-title{
     justify-content: center;
     align-items: center;
     flex-direction: column;
   }
   .footer-logo{
     margin-left: 4rem;
   }
 }
 @media screen and (max-width: 441px){
   .project-cart{
     width: 330px;
     height: 356px;
   }
 }

